---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="container py-4">
        <h1>Ckeditor5</h1>

        <h4>Escolha Base64 ou com o SimpleUpload</h4>
    </section>
</Layout>


