---
import Layout from '../../layouts/Layout.astro';
import CkeditorBase64JS from './_ckeditorBase64.astro';
---

<Layout>
	<section class="container py-">
		<h3>Ckeditor5 (Base64)</h3>

		<div id="editor">
			<p>Digite seu texto aqui!</p>
		</div>
	</section>

    <CkeditorBase64JS />
</Layout>
