---
import Layout from '../../layouts/Layout.astro';
import CkeditorSimpleUploadJS from './_ckeditorSimpleUpload.astro';
---

<Layout>
	<section class="container py-">
		<h3>Ckeditor5 (SimpleUpload)</h3>

		<div id="editor">
			<p>Digite seu texto aqui!</p>
		</div>
	</section>

    <CkeditorSimpleUploadJS />
</Layout>
